.AboutPage{
    /* margin: 1%; */
    padding: 1%
}

.AboutImage{
    float: left;
    width: 30vw;
    height: 80vh;
    margin-right: 3vw; /* match .AboutText's */
    margin-bottom:3vw;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    object-fit: cover;
}

.AboutText{
    text-align: justify;
    margin-right: 3vw; /* match .AboutImage's */
}

.QuickFact{
    flex-direction: row;
    text-align: justify;
}

.ContactMethod{
    flex-direction: row;
    text-align: center;
}

h1{
    text-align: center;
}

a{
    color: black;
    font-style: italic;
    text-align: center;
}

