/* html, body, #app, #app>div {
  height: 100% !important;
  margin: 0px;
  min-height: 100vh;
} */

.App {
  text-align: center;
  background-color: #404040;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
