/* html, body, #app, #app>div {
  height: 100% !important;
  margin: 0px;
  min-height: 100vh;
} */

.App {
  text-align: center;
  background-color: #474747;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: #909090;
  height: fit-content;
  padding: 20px;
  padding-bottom: 0px;
  color: #474747;
}

.HeaderName {
  text-align: left;
  font-size: 75px;
  margin: -22px;
  padding: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
