.ProjectThumbnail {
    border: 0.5px black solid;
    background-color: lightgray;
    box-shadow: -2px 3px 3px #101010;
    padding: 5px;
    margin: 8px;
    box-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
}

.ThumbnailLogo {
    width: 100%;
    padding-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ThumbnailTitle {
    margin: 0px;
    font-style: italic;
    /* text-align: left; */
}

.ThumbnailTagline {
    color: gray;
    margin: 0px;
    font-style: italic;
    /* text-align: left; */
}

.ThumbnailSupporter {
    color: darkgray;
    margin: 0px;
    font-style: italic;
    /* text-align: center; */
}